<app-layout>
  <router-outlet></router-outlet>
</app-layout>
<!--  <main class="container">-->
<!--  <p>-->
<!--  Lorem ipsum dolor sit amet. Sit nobis dolore ad provident illum eum sint magnam est ipsa nisi. Et omnis odit in modi fuga cum enim minima ut accusantium maxime eos voluptatem consequatur.-->
<!--  Nam ipsa optio aut quos facilis et autem velit aut error possimus ut minus quisquam. Eos corporis dolore est fuga explicabo vel accusantium beatae aut corporis perspiciatis sit necessitatibus Quis. Quo consequatur Quis et architecto porro et ipsum excepturi ut quidem amet ea amet facere ab temporibus officia qui voluptatem earum.-->
<!--  Cum Quis inventore qui aliquid praesentium ab accusantium molestiae id perferendis voluptatem in sapiente blanditiis. Eos nisi iusto qui voluptas quidem est explicabo dolor.-->
<!--  </p>-->
<!--  </main>-->

<!--<app-demo1></app-demo1>-->

